<header>
  <h1 class="header">Agenda @Angular</h1>
  <img src="../../assets/img/agenda2.svg" alt="" />
</header>

<div class="container">
  <div class="row">
    <h2>Register account!</h2>

    <div class="form">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <input [(ngModel)]="inputEmail"
           placeholder="Email address" type="email" formControlName="email" class="form-control"/>
        </div>
        <div class="form-group">
          <input [(ngModel)]="inputPassword" placeholder="Password" type="password" class="form-control" formControlName="password"/>
        </div>
        <div class="form-group">
          <input [(ngModel)]="inputRepeat" placeholder="Repeat password" type="password" class="form-control" formControlName="confirmPassword"/>
        </div>
        <label class="error">{{ errorMessage }}</label>
        <label class="success">{{ successMessage }}</label>

        <div *ngFor="checkInput()">
        </div>
        <button
          *ngIf="checkInput()"
          type="submit" (click)="tryRegister(registerForm.value)"
          class="btn"
          [ngClass]="{'activeRegister': validation, 'btn-register': !validation }">
          Register
        </button>
      </form>

    </div>
    <div class="row">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
