<header>
  <h1 class="header">Agenda @Angular</h1>
  <img src="../../assets/img/agenda2.svg" alt="" />
</header>

<div class="modalref">
  <div class="container">
    <div class="closeModal">
      <button class="btn-close" (click)="closeWindow()">X</button>
    </div>
    <div class="content">
      <div class="header">
        <h3>Reset your password!</h3>
      </div>
      <p>Please fill out the information below to reset your password</p>

      <div class="forns">
        <form [formGroup]="redefinedForm">
          <div class="form-group">
            <input
              placeholder="E-mail address"
              type="email"
              formControlName="email"
              class="form-control"
              [(ngModel)]="inputEmail"
            />
          </div>
          <div *ngFor="checkInput()">
          </div>
          <button
            type="submit"
            (click)="forgotPassword(inputEmail)"
            [ngClass]="{
               'btn': true,
              'activeRedefined': isVerification,
              'btnRedefined': !isVerification
            }"
          >
            Reset password
          </button>
        </form>
        <label class="error">{{ errorMessage }}</label>
        <label class="success">{{ successMessage }}</label>
      </div>
    </div>
  </div>
</div>
